<div class="container">
    <div class="card">
        <div class="row">
            <aside class="col-sm-5 border-right">
                <article class="gallery-wrap">
                    <div class="img-big-wrap">
                        <div>
                            <a href="#">
                                <img src="https://productimages.hepsiburada.net/s/7/552/9757080453170.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="img-small-wrap">
                        <div class="item-gallery">
                            <img src="https://productimages.hepsiburada.net/s/7/552/9757080453170.jpg"> </div>
                        <div class="item-gallery">
                            <img src="https://productimages.hepsiburada.net/s/7/552/9757080453170.jpg"> </div>
                        <div class="item-gallery">
                            <img src="https://productimages.hepsiburada.net/s/7/552/9757080453170.jpg"> </div>
                        <div class="item-gallery">
                            <img src="https://productimages.hepsiburada.net/s/7/552/9757080453170.jpg"> </div>
                    </div>
                </article>
            </aside>
            <aside class="col-sm-7">
                <article class="card-body p-5">
                    <h3 class="title mb-3">{{ productDetail.productName }}</h3>

                    <p class="price-detail-wrap">
                        <span class="price h3 text-warning">
                            <span class="currency">US $</span>
                            <span class="num">{{ productDetail.unitPrice }}</span>
                        </span>
                        <span>{{ productDetail.quantityPerUnit }}</span>
                    </p>
                    <dl class="item-property">
                        <dt>Açıklama</dt>
                        <dd>
                            <p>{{ productDetail.description }}</p>
                        </dd>
                    </dl>
                    <dl class="param param-feature">
                        <dt>Ürün Kodu</dt>
                        <dd>{{ productDetail.productId }}</dd>
                    </dl>
                    <dl class="param param-feature">
                        <dt>Stok</dt>
                        <dd>{{ productDetail.unitsInStock }}</dd>
                    </dl>
                    <hr>
                    <div class="row">
                        <div class="col-sm-12">
                            <dl class="param param-inline">
                                <dt>Quantity: </dt>
                                <dd>
                                    <select #quantity class="form-control form-control-sm" style="width:70px;">
                                        <option [value]="1"> 1 </option>
                                        <option [value]="2"> 2 </option>
                                        <option [value]="3"> 3 </option>
                                    </select>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <hr>
                    <a href="#" class="btn btn-lg btn-primary text-uppercase"> Satın Al</a>
                    <button class="btn btn-lg btn-outline-primary text-uppercase" (click)="addToCart(quantity.value)">
                        <i class="fa fa-shopping-cart"></i> Sepete Ekle </button>
                </article>
            </aside>
        </div>
    </div>
</div>